<h1>Cadastrar estabelecimento</h1>
<hr></hr>
<% if (message) { %>
    <h3>
        <%= message %>
    </h3>
    <% } %>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 py-3 border-left-primary border-bottom-primary">
                    <div class="card-body">
                        <form class="user" action="/estabelecimento" method="POST">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input type="text" class="form-control form-control-user" name="description" />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Gravar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>