/* ESTRUTURA DO SITE ------------------------------*/
body {
    background: #f4f2ec url(../img/fundonovo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

@font-face {
    font-family: ShantellSans-Light;
    src: url(../../fonts/Shantell_Sans/static/ShantellSans-Light.ttf);
}

#container {
    width: 1080px;
    margin: 0 auto;
}
a {
    font-size: 18px;
}
a:link,
a:active,
a:visited {
    color: #070606;
    text-decoration: none;

}

a:hover {
    color: #f1f7f0;
}

/*LoGO ----------------------------------------------------*/
#logo h1 {
    float: left;
}

#logo a {
    width: 300px;
    height: 21px;
    text-indent: -999px;
    display: block;
    background: url(../img/logonovo.png) no-repeat;

}


/*BARRA DE NAVEGAÇÃO -------------------------------------*/
header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;

}

nav ul li {
    float: left;
}

nav ul li a{
    font-family: 'ShantellSans-Light';
}

nav ul Li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/*  PRINCIPAL ********************************************/
#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px ;
 
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    margin-bottom: 20px ;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;

    
}
section.galeria{
    padding: 0 25px 0 27px;
    float:left;

}
section.galeria a{
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;
    padding: 15px 15px 18px 15px;
    margin: 10px 0 0 20px;
    cursor: pointer;
}
section.galeria img{
    margin-left: 2px;
    margin-top: 3px;

}
article#video{
    float: left;
    width: 310px;
    margin-left: 37px;
}
article#mapa{
    float: left;
    width: 310px;
    margin-left: 25px;
}
article#exposicoes{
    float: left;
    width: 310px;
    margin: 15px 0 0 25px ;
   
}
article#historia{
    float: left;
    width: 310px;
    margin: 15px 0 0 37px ;
   
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}
h3{
    color:#227115 ;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/*formularios*****************/
input {
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;

}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset {
    border: none;
}

legend {
    display: none;

}
/*RODAPÉ -------------------------------*/
footer{
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../img/fundo-rodape.png) no-repeat center top;
    margin-top: 20px ;

}
footer>p a{
    padding: 2px 10px;

}

/*LIGHTBOX---------------------------------------*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  section#capa img {
    width: 710px;
    height: 320px;
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }