<% if (typeof msg !=='undefined' ) { %>
  <h3>
    <%= msg %>
  </h3>
  <% } %>

    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bem vindo!</h1>
                  </div>
                  <form class="user form-login-js" action="/sig-in" method="POST">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="email" id="email"
                        aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password"
                        placeholder="Password">
                    </div>
                    <a href="#" class="btn btn-primary btn-user btn-block btn-user-js">
                      Login
                    </a>
                    <a href="#" class="btn btn-primary btn-user btn-block btn-user-create-js">
                      Create Account
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <script>
      $('.btn-user-js').on('click', function () {
        $('.form-login-js').submit();
      });
      $('.btn-user-create-js').on('click', function () {
        window.location.href = '/profile-create';
      });

    </script>