<!-- Custom styles for this template-->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Atualizar perfil</h1>
                        </div>
                        <form class="user form-update-register-js" method="POST" action="/sig-prfil">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" value="<%= user.nome %>" name="name" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" value="<%= user.lastName %>" name="lastname" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" value="<%= user.email %>" disabled name="email" id="exampleInputEmail"
                                    placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary btn-user btn-block btn-user-js">
                                Save
                            </a>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.btn-user-js').on('click', function(){
              $('.form-update-register-js').submit();
        });
    </script>