<h1>Adicionar conta</h1>
<hr></hr>
<% if (message) { %>
    <h3>
        <%= message %>
    </h3>
    <% } %>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4 py-3 border-left-primary border-bottom-primary">
                    <div class="card-body">
                        <form class="user" action="/contas/gravar" method="POST">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control form-control-user" name="conta" />
                            </div>
                            <div class="form-group">
                                <label>Valor Parcela</label>
                                <input type="text" class="form-control form-control-user money" name="valor" />
                            </div>
                            <div class="form-group">
                                <label>Qtd Parcelas</label>
                                <input type="text" class="form-control form-control-user" name="qtd_parcelas" />
                            </div>
                            <div class="form-group">
                                <label>Flag</label>
                                <input type="text" class="form-control form-control-user" name="flag" />
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Tipo</label>
                                </div>
                                <select class="custom-select" name="tipo">
                                    <option value="pagar">Pagar</option>
                                    <option value="receber">Receber</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Gravar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>