<h1>Atualizar conta</h1>
<% if (message) { %>
    <h3><%= message %></h3>
<% } %>
<form action="/contas_receber/atualizar/<%- id %>" method="POST">
    <div class="form-group">
        <label>Valor Pago</label>
        <input type="text" class="money" name="valorpago" />
    </div>
    <div class="form-group">
        <label>Vencimento</label>
        <input type="date" class="date" name="vencimento" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="gravar">
    </div>
</form>