<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Salario</h6>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <form id="salarioFormUpdate" action="/salario-update" method="POST">
                    <table class="table table-bordered dataTable-js" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Salário</th>
                                <th>Vencimento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < salario.length;i++){ 
                                var valor= salario[i]["valor"].toFixed(2).replace(".",","); %>
                                <tr>
                                    <td>
                                        <input type="hidden" name="id" value="<%= salario[i]['idsalario'] %>" />
                                        <%= salario[i]["idsalario"]%>
                                    </td>
                                    <td>
                                        <input type="text" name="valor" id="valor" class="money2" value="<%= valor%>" />
                                    </td>
                                    <td>
                                        <!-- <input type="date" name="data" id="data"
                                            value="<%= salario[i]["data"]%>" /> -->
                                            <%= salario[i]["data"]%>
                                    </td>
                                    <td><button class="btn btn-primary formSalarioJs" type="button">Salvar</button></td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>