<h1>Cadastrar orçamento</h1>
<hr>
</hr>
<% if (message) { %>
    <h3>
        <%= message %>
    </h3>
    <% } %>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 py-3 border-left-primary border-bottom-primary">
                    <div class="card-body">
                        <form class="user" action="/orcamento" method="POST">
                            <div class="form-group">
                                <label>Valor</label>
                                <input type="text" class="form-control form-control-user money" name="valor" />
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Material</label>
                                    </div>
                                    <select class="custom-select" name="id_material">
                                        <% for (var i=0;i < material.length;i++){ %>
                                        <option value="<%= material[i]['id'] %>"><%= material[i]['description'] %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Estabelecimento</label>
                                    </div>
                                    <select class="custom-select" name="id_entidade">
                                        <% for (var i=0;i < entidade.length;i++){ %>
                                        <option value="<%= entidade[i]['id'] %>"><%= entidade[i]['description'] %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Gravar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>