<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow col-sm-1">
        <a href="orcamento/cad" class="btn btn-primary btn-user btn-block">+</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Orçamento</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable-js" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Material</th>
                            <th>Valor</th>
                            <th>Estabelecimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < dados.length;i++){ %>
                            <tr>
                                <td><%= dados[i]["id"] %></td>
                                <td><%= dados[i]["material"] %></td>
                                <td><%= dados[i]["valor"] %></td>
                                <td><%= dados[i]["entidade"] %></td>
                            </tr>
                        <% } %>
                </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>