<%- contentFor('body') %>
  <!-- Content Row -->
  <div class="row">
    <!-- Pending Requests Card Example -->
    <% var valorRestante="R$ " +resto[0].total.toFixed(2).replace(".",",") 
    var valorRestante2021="R$ "+resto2022[0].total.toFixed(2).replace(".",",") %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">A pagar 2024</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  <%-valorRestante%>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4" id="card-one">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" id="saldo-1"></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="rest-value-1"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" id="saldo-2"></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="rest-value-2"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" id="saldo-3"></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id="rest-value-3"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div  class="col-xl-10 col-md-6 mb-4">
      <a href="planilhas" class="btn btn-success btn-icon-split btn-lg">
        <span class="icon text-white-50">
          <i class="fas fa-flag"></i>
        </span>
        <span class="text">Planilha Pagamento</span>
      </a>
      <a href="planilhas-receber" class="btn btn-primary btn-icon-split btn-lg">
        <span class="icon text-white-50">
          <i class="fas fa-flag"></i>
        </span>
        <span class="text">Planilha Recebimento</span>
      </a>
      <a href="conta/adicionar" class="btn btn-success btn-icon-split btn-lg">
        <span class="icon text-white-50">
          <i class="fas fa-file-invoice"></i>
        </span>
        <span class="text">Adicionar Conta</span>
      </a>
    </div>

  </div>
  <!-- Content Row -->
  <div class="row col-xl-10">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Total de contas pagas anual</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Mês <span id="pie-text"></span></h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-primary"></i> Salário
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> Saldo
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-warning"></i> Total a Pagar
            </span>
          </div>
        </div>
      </div>
    </div>

      <!-- Bar Chart -->
      <div class="col-xl-10 col-lg-8">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Próximos Saldos Dinâmicos</h6>
          </div>
          <div class="card-body">
            <div class="chart-bar">
              <canvas id="myBarChart"></canvas>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /.container-fluid -->

  <!-- Page level plugins -->
  <script src="/js/charts-contas.js"></script>
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
