<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Registro de Contas</h1>
  <p class="mb-4">Informação sobre contas registradas <%=title%>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Contas <%=title%></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Id</th>
              <th>Conta</th>
              <th>Parcelas</th>
              <th>Valor total</th>
              <th>Tipo</th>
              <th>Flag</th>
              <th>Atividade</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Conta</th>
              <th>Parcelas</th>
              <th>Valor total</th>
              <th>Tipo</th>
              <th>Flag</th>
              <th>Atividade</th>
            </tr>
          </tfoot>
          <tbody>
            <% for(var i=0; i < contas.length;i++){ 
              var id=contas[i]["id"] 
              var tipo=contas[i]["tipo"] 
              %>
              <tr>
                <td>
                  <%= contas[i]["id"]%>
                </td>
                <td>
                  <%= contas[i]["conta"]%>
                </td>
                <td>
                  <%= contas[i]["qtd_parcelas"]%>
                </td>
                <td>
                  <%= (contas[i]["qtd_parcelas"] * contas[i]["valor"]) %>
                </td>
                <td>

                  <%= tipo%>

                </td>
                <td>
                  <%= contas[i]["flag"]%>
                </td>
                <td>
                  <a href="/contas/<%- id %>/<%- tipo %>" class="btn btn-info btn-circle btn-md">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                  <% if(type === 'receber'){ %>
                    <a href="/contas-receber/<%- id %>/delete" class="btn btn-info btn-circle btn-md">
                      <i class="fas fa-trash"></i>
                    </a>
                  <% } %>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->