<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SContabilidade</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Contas</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Ações:</h6>
        <a class="collapse-item" href="/conta/adicionar">Adicionar</a>
        <a class="collapse-item" href="/contas">Contas a pagar</a>
        <a class="collapse-item" href="/contas-receber">Contas a receber</a>
        <a class="collapse-item" href="/banco">Limite Crédito</a>
        <a class="collapse-item" href="/salario">Salário</a>
        <a class="collapse-item" href="/form/salario">Salário cadastrar</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Planilhas</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Ações:</h6>
        <a class="collapse-item" href="/planilhas">A pagar</a>
        <a class="collapse-item" href="/planilhas-receber">A receber</a>
      </div>
    </div>
  </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrcamento" aria-expanded="true"
        aria-controls="collapseOrcamento">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Orçamento</span>
      </a>
      <div id="collapseOrcamento" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Cadastros:</h6>
          <a class="collapse-item" href="/material">Material</a>
          <a class="collapse-item" href="/estabelecimento">Estabelecimento</a>
          <a class="collapse-item" href="/orcamento">Orçamento</a>
        </div>
      </div>
    </li>
  

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#galery" aria-expanded="true"
      aria-controls="galery">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Galeria</span>
    </a>
    <div id="galery" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Ações:</h6>
        <a class="collapse-item" href="/galeria/importar">Importar</a>
        <a class="collapse-item" href="/galeria/album">Criar Albúm</a>
      </div>
    </div>
  </li>
</ul>