<style>
    body {
        /* background-image: url('images/tropical.avif'); */
        background-image: url('images/fundocamille.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        /* background-position: right bottom; */
    }

    #wrapper #content-wrapper {
        background-color: transparent;
    }

    .foto {
        width: 100px;
        height: 140px;
        padding-top: 1px;
        padding-left: 1px;
    }
    .card {
        background: none;
    }

    .galeria{
        float: left;
        padding: 15px;
        background: url('images/02.png') no-repeat;
        background-size: 130px;
        width: 130px;
        height: 195px;
        margin-left: 2px;
    }
</style>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Busca por..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="busca  por..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

</nav>
<div class="row slide">
    <% galeria.forEach(function(el, index){ %>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">  <%= category[index] %> - RS</h6>
            </div>
            <div class="card-body">
                <% el.forEach(function(el2, index2){ %>
                    <section class="galeria">
                        <img src="galeria/<%= el2.path_file %>" class="foto">    
                    </section>
                <% }) %>             
            </div>
        </div>
    </div>
    <% }) %> 
</div>