<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Pescaria & Turismo em Tramandaí - RS</title>
    <meta charset="utf-8">
    <!--Normalize CSS-->
    <link rel="stylesheet" type="text/css" href="projeto6/CSS/normalize.css" <!--Estilo Customizado-->
    <link rel="stylesheet" type="text/css" href="projeto6/CSS/estilo.css">
    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
<![endif]-->
</head>

<body>
    <div id="container"><!--INICIO CONTAINER-->

        <header id="cabecalho"><!--INCICIO HEADER CABECALHO-->


            <div id="logo">
                <h1><a href="">Pescaria & Turismo</a></h1>
            </div>
            <nav><!--INICIO NAV-->
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Pesquisa</a></li>
                    <li><a href="">Vídeos</a></li>
                    <li><a href="">Fotos</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </nav><!--FIM NAV-->
        </header><!--FIM HEADER CABECALHO-->

        <div id="principal"><!--Inicio Principal-->
            <div id="conteudo">
                <section id="capa">
                    <img src="projeto6/img/plataforma.jpg">
                </section>
                <section id="postagens">

                    <article id="video">
                        <h3> Vídeo: Pesca de tarrafas</h3>
                        <iframe width="310" height="170" src="https://www.youtube.com/embed/Nk1PRtyypJk"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </article>

                    <article id="mapa">
                        <h3>Mapa: Tramandaí - RS</h3>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55268.52989676947!2d-50.19301246767596!3d-30.028734463186986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95187322c7228a43%3A0xb50ad3eaf3d74fb1!2sTramanda%C3%AD%2C%20RS%2C%2095590-000!5e0!3m2!1spt-BR!2sbr!4v1677299966234!5m2!1spt-BR!2sbr"
                            width="310" height="170" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </article>

                    <!-- <article id="exposicoes">
                        <h3>Exposições</h3>
                        <ul>
                            <li>
                                <a href="">Os Assustadores Insetos</a>
                            </li>
                            <li>
                                <a href="">Preguiça Gigante e Tigre-dentes-de-sabre</a>
                            </li>
                            <li>
                                <a href="">Plantas do Brasil Central</a>
                            <li>
                                <a href="">O crânio de Luzia, a mulher mais antiga do Brasil</a>
                            </li>
                            <li>
                                <a href=""> Teresa Cristina: A Imperatriz Arqueologica</a>
                            </li>
                            <li>
                                <a href="">Arte com Dinossauros - Paleoarte </a>
                            </li>
                            <li>
                                <a href=""><strong> Veja todos (65)</strong></a>
                            </li>
                            </li>
                        </ul>
                    </article> -->
                    <article id="historia">
                        <h3>História</h3>
                        <p>Tramandaí começou a ser criada a partir do século XVIII, época em que servia de passagem para viajantes com destino a Laguna ou a capital do império brasileiro, o Rio de Janeiro. E também servia de passagem para a colônia do Sacramento, para os aventureiros, escravagistas paulistas atrás de índios, para os jesuítas, espanhóis e soldados. Devido a essa movimentação, em 1738 criou-se a guarda do registro, com a função de controlar as mercadorias e o gado que passavam pelo rio Tramandaí e cobrava certo valor pela passagem, uma espécie de pedágio.</p>
                        <p>Em 26 de outubro de 1732 iniciou-se oficialmente o povoado em Tramandaí, quando Manoel Gonçalves Ribeiro ganhou uma sesmaria à qual a região pertencia. Essa parte da região ficou conhecida como Paragem das Conchas. Nessa época começaram a surgir pequenos ranchos de palha de tiririca-brejo, que os pescadores e forasteiros erguiam para a temporada da pesca.                        </p>
                        <a href="https://pt.wikipedia.org/wiki/Tramanda%C3%AD" target="_blank"><strong>Leia mais</strong></a>
                    </article>
                </section>
            </div>
            <aside><!--inicio aside-->
                <section id="depoimento">
                    <img src="projeto6/img/depoimentonovo.png">
                </section>

                <section id="visita">
                    <h4>Faça nos uma visita</h4>
                    <form>
                        <fieldset>
                            <legend> Selecione uma data</legend>
                            <label for="data">Data</Datag></label>
                            <input class="campo" type="text" id="data" value="dd/mm/aaaa">

                            <label for="qtd">Qtd pessoas</Datag></label>
                            <input class="campo" style="width:30px ;" type="text" id="Qtd" value="1">
                        </fieldset>
                        <input class="botao" type="submit" value="Verificar disponibilidade">
                    </form>

                </section><!-- FIM DA VISITA-->
                <!-- <section id="galeria">
                    <h4> Galeria de Fotos</h4>
                    <a href="">
                        <img src="projeto6/img/imagem1.jpg" height="93" width="93" alt="Descrição Imagem">
                    </a>
                </section> -->
                <% galeria.forEach(function(el, index){ %>
                    <section class="galeria">
                        <h4>
                            <%= category[index] %> - RS
                        </h4>
                        <% el.forEach(function(el2, index2){ %>
                            <a onclick="view(<%= el2.id %>)">
                                <img src="galeria/<%= el2.path_file %>" id="<%= el2.id %>" height="93" width="93"
                                    alt="Descrição Imagem">
                            </a>
                            <% }) %>
                    </section>
                    <% }) %>
            </aside><!--fim aside-->
            <footer>
                <p>
                    <a href="">Home</a>
                    <a href="">Pesquisa</a>
                    <a href="">Fotos</a>
                    <a href="">Vídeos</a>
                    <a href="">Contato</a>
                </p>
                <p> @2023 <a href="">Pescaria e Turismo</a> - Andrieli Chaves de Almeida</p>
            </footer>
        </div><!--FIM PRINCIPAL-->
    </div><!--FIM CONTAINER-->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img width="900" height="700" class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        function view(img) {
            var img = document.getElementById(img);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

        }

        // Get the image and insert it inside the modal - use its "alt" text as a caption

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
</body>