<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Registro de Contas</h1>
    <p class="mb-4">
        Informação sobre contas registradas a pagar.
        <br>
        <button data-id="<%= id %>-<%= ano %>" class="payment-all-monthy-js btn btn-primary" >Receber tudo</button>
        <button data-id="<%= id %>-<%= ano %>" class="payment-all-monthy-revert-js btn btn-primary" >Revert</button>
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contas a receber</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered dataTable-js" width="100%" cellspacing="0">
            <thead>
              <tr>
                    <th>Conta</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Flag</th>
                    <th>Receber</th>
                </tr>
            </thead>
            <tbody>
                <% for(var c=0; c < contas.length;c++){  %>
                    <% (contas[c].status == 'S')? st = true:false%>
                    <% (contas[c].status == 'N')? valorPagar += contas[c].parcela : valorPagar = valorPagar  %>
                    <% 
                        
                        (contas[c].status == 'S')? colorbg = "background-color:#C7ED99" : colorbg = ""
                    %>

                    <tr style="<%= colorbg %>">
                        <td><%= contas[c].nome %></td>
                        <td><%= "R$ "+contas[c].parcela.toFixed(2).replace(".",",") %></td>
                        <td><%= contas[c].data_venc %></td>
                        <td><%= contas[c].flag %></td>
                        <td>
                          <a href="/conta/atualizar/receber/<%= contas[c].idpay %>" title="Receber" class="btn btn-success btn-circle btn-md">
                            <i class="fas fa-money-bill"></i>
                          </a>
                        </td>
                    </tr>                         
                <% } %>
            </tbody>
            <tfoot>
                    <%
                    var color = "white";
                     (st)?color = "green":color = "#EC7063" 
                     %>
                    <tr style="background-color:<%= color %>" >
                        <td style="color:blanchedalmond;">Valor total Mês</td>
                        <td style="color:blanchedalmond;"><%= valor %></td>
                        <td style="color:blanchedalmond;">Saldo a receber Mês</td>
                        <td colspan="2" style="color:blanchedalmond;background-color:#EC7063"><%= valorPagar.toFixed(2).replace(".",",") %></td>
                    </tr>
                </tfoot>

          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->