<h1>Álbum de fotos</h1>
<hr>
</hr>
<% if (message) { %>
    <h3>
        <%= message %>
    </h3>
    <% } %>
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <div class="row">
            <form action="/galeria/album" class="form-create-js" method="POST">
                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" name="titulo" />
                </div>
                <div class="form-group">
                    <label>Album</label>
                    <input type="text" class="form-control" name="folder" />
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-primary btn-block btn-create-js">
                        Create
                    </a>
                </div>
            </form>
        </div>
        <hr>
        </hr>
        <div class="row">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Álbuns</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable-js" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Album</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Album</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for(var i=0; i < dados.length;i++){ %>
                                <tr>
                                    <td><%= dados[i]["id"] %></td>
                                    <td><%= dados[i]["label"] %></td>
                                    <td><%= dados[i]["name"] %></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <script>
            $('.btn-create-js').on('click', function () {
                $('.form-create-js').submit();
            });
        </script>