<h1>Galeria de fotos / importação</h1>
<hr>
</hr>
<% if (message) { %>
    <h3>
        <%= message %>
    </h3>
    <% } %>
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <div class="row">
            <form action="/galeria/importar" class="form-importar-js" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="album">Selecione o album</label>
                    <select name="album" class="form-control">
                        <% for(var i=0; i < albuns.length;i++){ %>
                            <option value="<%= albuns[i]["id"] %>"><%= albuns[i]["label"] %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="file">Importar foto</label>
                    <input type="file" name="file" class="form-control" id="file" />
                    <a href="#" class="btn btn-primary btn-user btn-block btn-upload-js">
                        Save
                    </a>
                </div>
            </form>
        </div>
        <hr>
        </hr>
        <div class="row">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Álbuns</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable-js" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>File</th>
                                    <th>Album</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Album</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for(var i=0; i < dados.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%= dados[i]["id"] %>
                                        </td>
                                        <td>
                                            <img width="60" height="60" src='<%= dados[i]["path_file"] %>' />
                                        </td>
                                        <td>
                                            <%= dados[i]["label"] %>
                                        </td>
                                        <td><a class="btn btn-danger btn-circle btn-md" href='/galeria/files/<%= dados[i]["id"]%>/delete'><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.btn-upload-js').on('click', function () {
                $('.form-importar-js').submit();
            });
        </script>
        <!-- <script src="/vendor/jquery/jquery.slim.min.js"></script> -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>